.search-bar {
    width: 99.8%;
    height: 30px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    transition: height 0.15s ease; 
  }
  
  .search-bar.expanded {
    height: 48px; 
    border: 1px solid #1976d2;
  }
  
  .search-bar-container:hover {
    width: 70px; 
  }