body {
    font-family: 'Antic Slab', serif;
}

@keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
  
  .button:hover {
    background: radial-gradient(circle, rgba(5,99,180,1) 0%, rgba(0,212,255,1) 100%);
    animation: slidebg 10s linear infinite;
  }
  