html{
  width: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

/* .navbar {
  height: clamp(48px, 5vh, 56px);
  width: 100%;
  background-color: #2a59fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  height: clamp(48px, 5vh, 56px);
  width: clamp(380px, 52%, 962px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(54px, 7vw, 130px);
}

.navbar-left h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: clamp(20px, 2vw, 35px); 
  color: white;
}

.search-bar {
  width: clamp(190px, 26vw, 481px);
  margin-right: clamp(15px, 1.8vw, 30px);
  display: flex;
  height: clamp(22px, 3.1vh, 30px);
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
} */

/* .search-bar input {
  width: clamp(190px, 25vw, 470px);
  height: clamp(15px, 3vh, 26px);
}

.navbar-right {
  height: 48px;
  width: clamp(289px, 38vw, 703px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(53px, 7vw, 130px);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(16px, 2.2vw, 40px);
}

.menu div {
  display: flex;
  gap: clamp(7px, 0.7vw, 10px);
  align-items: center;
  justify-content: center;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  font-size: clamp(12px, 1.1vw, 20px);
  color: white;
}

.container {
  height: 94.5%;
  width: 100vw;
  display: grid;
  grid-template-columns: clamp(190px, 23vw, 492.5px) clamp(380px, 50vw, 975px) clamp(190px, 23vw, 492.5px);
  gap: clamp(15.2px, 2vw, 37px);
} */
/*************************** filter-sidebar ***************************/
/* .filter-sidebar {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  gap: clamp(10px, 1vh, 15px);
}

.filter-sidebar h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: clamp(13px, 1vw, 18px);
  font-weight: 300;
}

.sort-filter {
  display: flex;
  flex-direction: column;
  height: clamp(120px, 16.6vh, 180px);
  gap: 6px;
  width: clamp(107px, 14vw, 250px);
}

.sort-filter-content {
  background-color: #fff;
  display: flex;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  height: clamp(140px, 16vh, 162px);
  width: clamp(107px, 14vw, 250px);
}

.sort-filter-content form {
  width: clamp(107px, 14vw, 250px);
}

.radio {
  height: clamp(19px, 2.7vh, 30px);
  width: clamp(97px, 12.3vw, 225px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: clamp(4px, 0.54vw, 10px);
  gap: clamp(4px, 0.54vw, 10px);
}

.radio label {
  margin-top: 3px;
  font-size: clamp(12px, 1vw, 18px);
}

.brand-filter {
  display: flex;
  gap: 6px;
  flex-direction: column;
  height: 200px;
  width: clamp(107px, 14vw, 250px);
}

.brand-filter-content {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 182px;
  width: clamp(107px, 14vw, 250px);
  align-items: center;
  justify-content: center;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.search-area input {
  width: clamp(83px, 11vw, 200px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 40px;
}

.brands-models {
  padding: 1rem;
}

.brand-model {
  margin-bottom: 0.5rem;
}

.brand-model label {
  font-size: clamp(12px, 1vw, 18px);
}

.brand-model input {
  margin-right: 0.5rem;
  height: clamp(20px, 2, 6vh, 35px);
}

.model-filter {
  gap: 6px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: clamp(107px, 14vw, 250px);
}

.model-filter-content {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 182px;
  width: clamp(107px, 14vw, 250px);
} */
/**********************************************************************/
/*************************** main-content ****************************/
/* 
.main-content {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, clamp(85px, 11.25vw, 208px));
  grid-template-rows: 270px 270px 270px 30px;
  gap: clamp(12.4px, 1.6vw, 20px);
  height: 80%;
}

.card {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: clamp(4px, 0.54vw, 10px);
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.4); 
}

.card-image {
  height: clamp(105px, 15vh, 160px);
  width: clamp(88px, 11vw, 190px);
  background-color: #c4c4c4;
}

.card-price {
  font-size: clamp(10px, 1.1vw, 20px);
  width: clamp(88px, 11vw, 190px);
  color: #2a59fe;
}

.card-info {
  height: clamp(20px, 2, 6vh, 35px);
  width: clamp(88px, 11vw, 190px);
  font-size: clamp(13px, 1vw, 18px);
}

.card-btn {
  height: clamp(22px, 4.2vh, 35px);
  width: clamp(88px, 10vw, 190px);
  background-color: #2a59fe;
  color: #fff;
  font-size: clamp(10px, 0.89vw, 16.6px);
  border-color: #fff;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 2 / 4;
  gap: clamp(6px, 0.81vw, 15px);
}

.page button {
  display: grid;
  place-content: center;
  height: clamp(14px, 1.72vw, 32px);
  width: clamp(14px, 1.72vw, 32px);
} */

/**********************************************************************/
/*************************** card-preview ****************************/
/* .cart-preview {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
}

.cart {
  width: clamp(107px, 15vw, 270px);
  height: clamp(107px, 27.5vh, 220px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.55vh, 22px);
}

.cart-preview h3 {
  margin-block-start: clamp(5px, 1.255vh, 10px);
  margin-block-end: clamp(5px, 1.255vh, 10px);
  padding-left: clamp(4px, 0.54vw, 10px);
  font-weight: 400;
}

.cart-product {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: clamp(20px, 5vh, 40px);
  width: clamp(107px, 14vw, 250px);
  margin-top: clamp(4px, 1vh, 8px);
}

.product-info {
  width: clamp(63px, 8.4vw, 150px);
  height: clamp(20px, 5vh, 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-name {
  width: 100%;
  margin-left: clamp(4px, 0.54vw, 10px);
  font-size: clamp(12px, 1vw, 19px);
}

.product-price {
  width: 100%;
  margin-left: clamp(4px, 0.54vw, 10px);
  font-size: clamp(12px, 1vw, 19px);
  color: #2a59fe;
}

.product-count {
  display: flex;
  align-items: center;
  width: clamp(32px, 4.2vw, 75px);
  height: clamp(20px, 5vh, 40px);
  margin-right: clamp(4px, 0.54vw, 10px);
}

.decrease {
  width: clamp(16px, 1.4vw, 25px);
  height: clamp(12px, 3vh, 25px);
  border-color: #fff;
}

.increase {
  width: clamp(16px, 1.4vw, 25px);
  height: clamp(12px, 3vh, 25px);
  border-color: #fff;
}

.count {
  width: clamp(16px, 1.4vw, 25px);
  height: clamp(12px, 3vh, 25px);
  background-color: #2a59fe;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 1.2vw, 20px);
  font-weight: 700;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(107px, 15vw, 270px);
  height: clamp(40px, 10vh, 80px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.checkout-price {
  background-color: #fff;
  height: clamp(15px, 3.75vh, 30px);
  width: clamp(83px, 11vw, 200px);
  margin-left: clamp(4px, 0.54vw, 10px);
  font-size: clamp(12px, 1.2vw, 20px);
}

.checkout-price span {
  color: #2a59fe;
}

.checkout-btn {
  height: clamp(20px, 5vh, 40px);
  width: clamp(83px, 12vw, 220px);
  font-size: clamp(10px, 0.8vw, 16.6px);
  border-color: #fff;
  background-color: #2a59fe;
  color: #fff;
} */
/**********************************************************************/
/*************************** product-page ****************************/
/* 
.product-container {
  width: clamp(532px, 70vw, 1300px);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: clamp(20px, 2.7vw, 50px);
  margin-left: clamp(20px, 2.7vw, 50px);
  gap: clamp(10px, 1.2vw, 20px);
}

.product-image {
  width: clamp(291px, 38.3vw, 710px);
  height: 536px;
}

.info-product {
  width: clamp(226px, 30vw, 550px);
  height: 536px;
  display: flex;
  flex-direction: column;
}

.info-product:nth-of-type(3),
.info-product:nth-of-type(4) {
  align-items: center;
  justify-content: center;
}

.name-product {
  width: clamp(156px, 20.5vw, 380px);
  font-size: clamp(15px, 1.9vw, 35px);
  margin-left: clamp(8px, 0.8vw, 15px);
}

.price-product {
  margin-left: clamp(8px, 0.8vw, 15px);
  width: clamp(80px, 8vw, 150px);
  font-size: clamp(15px, 1.9vw, 35px);
  margin-bottom: 62px;
  color: #2a59fe;
}

.center {
  height: 360px;
  width: clamp(226px, 30vw, 550px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(10px, 1.2vw, 20px);
}

.btn-product {
  width: clamp(213px, 28vw, 520px);
  height: 50px;
  font-size: clamp(11px, 1.4vw, 26px);
  color: #fff;
  background-color: #2a59fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-product {
  font-size: clamp(11px, 1.24vw, 23px);
  width: clamp(213px, 28vw, 520px);
  height: 280px;
  overflow-y: auto;
  max-height: 280px;
}

.visible {
  height: 94.5%;
  display: grid;
  grid-template-columns: clamp(555px, 73vw, 1350px) clamp(175px, 23vw, 425px);
  gap: clamp(15.2px, 2vw, 37px);
} */

/**********************************************************************/
/* @media screen and (min-width: 916px) and (max-width: 1140px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter-sidebar {
    align-items: center;
  }
  .cart-preview {
    align-items: center;
  }
  .container {
    grid-template-columns: clamp(152px, 20vw, 370px) clamp(426px, 56vw, 1036px) clamp(
        152px,
        20vw,
        370px
      );
  }
} */
@keyframes spin {
  from {
    transform: rotate(350deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FilterSearch */
.filter-search {
  width: 99.8%;
  height: 30px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  transition: height 0.15s ease; 
}

.filter-search.expanded {
  height: 48px; 
  border: 1px solid #1976d2;
}

.filter-search-container:hover {
  width: 70px; 
}